.card {
  background-color: var(--mantine-color-body);
  width: 300px;
  margin: 0 auto;
  margin-right: 30px;
}

.imageSection {
  padding: var(--mantine-spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.label {
  margin-bottom: var(--mantine-spacing-xs);
  line-height: 1;
  font-weight: 700;
  font-size: var(--mantine-font-size-xs);
  letter-spacing: rem(-0.25px);
  text-transform: uppercase;
  text-align: left;
}

.section {
  padding: var(--mantine-spacing-sm);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.textContainer {
  text-align: left;
  margin-top: 5px;
}
